/*Formateo de galeria----------------------------------------------------------------------------*/

#informacion h1 {margin:30px 40% 30px 40%}

.contenedores { width:60%;
                display:block;
                margin:0 auto 20px;}

.contenedorsuperior, .contenedorinferior {display:flex;
                                            justify-content:space-between;}

.tarjeta {  position:relative;
            overflow:hidden;
            margin:5px;
            width:100%;
            border:1px solid black;}

.tarjeta img {  width:100%;
                height:100%;}

.textos {   position:absolute;
            bottom: 0;
            color:black;
            text-align: center;
            background-color: rgba(255,255,255,0.7);
            padding:5px;
            transform: translateY(71%);
            height:335px}

.textos h2 {padding:0px 0px 30px}

.textos p {text-align:justify}

.tarjeta:hover .textos {transform: translateY(12%)}

.tarjeta:hover img {filter:blur(4px)}

/*Formateo contenido discripción cursos---------------------------------*/

.cursos-japones {   margin: 30px auto 20px auto }

.asignatura {margin-bottom:50px;}

.cursos-japones h3 {color:white;
                    text-align:center;}

.contenido-curso {  background-color:#f1f1f1;
                    border:1px solid black;
                    padding:2%;
                    font-size:20px;}

.contenido-curso p {margin-bottom:50px;}

.contenido-curso a {color:red;
                    margin:0 45%;
                    text-decoration: none;
                    border:1px solid blue;
                    padding:8px 16px;
                    background-color:rgb(220, 223, 252)}

.leermas a:link, .leermas a:visited {   color:blue;
                                        text-decoration: underline;}