
/*formateo texo*/
h3{background-color: DodgerBlue;}


/*cabecera*/

header{
  height: 150px;
  width: 100%;
  background: white;
  text-align: center;
  font-size: 29px;
  /*Bonilla*/
  margin-top:2%;
}
/*setion informacion*/
#informacion{
  width: 80%;
  height: auto;
  float: right;
  background:white;
}
/*tablon*/
aside{
  width: 20%;
  height:600px;
  /*background:red;*/
  float: left;
  display : flex;
}
/*pie*/
footer{
  clear: both;
  width: 100%;
  background:#5B5554;
}
footer h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
/*menu*/
.navegador{
  width: 100%
}
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5F0EF;
}
li {
  float: left;
  width: 16.6%
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 42px;
  text-decoration: none;
}
li a:hover {
  background-color: #E5E2E2 ;
}
/*menudos*/
.menudos {
  float:left;
  width:83%;
  margin-top: 57px;
  text-align:center;
}
.menudos a {
  background-color:#e5e5e5;
  padding:17px;
  margin-top:8px;
  display:block;
  width:100%;
  color:black;
}
/*contenido-section*/
.contenido {
  display: flex;
  justify-content: space-around;
  /*background-color: DodgerBlue;*/
}
.contenido > div {
  background-color: #f1f1f1;
  width: 89%%;;
  margin: 40px;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}
/*imagenes*/
img{
float: right;
width: 15%;
vertical-align: middle;
}

#tori{
  float: left;
  width: 15%;
  vertical-align: middle;
}
/*hero-image*/
.hero-image {
  background-image: url("../img/hero.jpg");
  height: 598px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-tafad {
  background-image: url("../img/tafad.jpg");
  height: 598px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
/*galeria profesores*/

div.galeria2 {
  margin: 13px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}
div.galeria2:hover {
  border: 1px solid #777;
}
div.galeria2 img {
  width: 100%;
  height: auto;
}
div.descripcion {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
  .contenedor-galeria {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .contenedor-galeria {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Bonilla-----------------------------------------------------------------------------------*/

/*footer*/
.pie {color:#E5E2E2;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  padding-top: 15px;
  padding-bottom:15px;
  background:#5B5554;}

.pie p {font-family:Arial, Helvetica, sans-serif;
    font-size:20px;}


.contimagen {display: contents;}

  
.contimagen img{ width:10%;
              height:auto;}


.pie a:link, a:visited {text-decoration:none;
                      color:inherit}

.redessociales i{ font-size:20px;
              margin-left:15px;}

.redessociales a:link, a:visited {  text-decoration: none;
                                color:inherit;}

.redessociales a:hover, .pie a:hover {color:rgb(241, 142, 158)}


